.header{
    display: flex;
    /* width:inherit; */
}
.header_left{
    display: flex;
    height: 840px;
    width: 77.57%;
    background-color: #F4F9E2;
    ;
}
.section_first{
    display: flex;
width: inherit;
    flex-direction: row;
    justify-content: space-around;
}
.section_first_left{
    display: flex;
    width: 64%;
    background-color: #62D0DF;
    flex-direction: column;
    justify-content: space-evenly;
}
.section_first_img{
    display: flex;  
}
.width_adapt{
   max-width: 1465px;
}
.article_head{
display: flex;
font-family :Verdana, Geneva, Tahoma, sans-serif;
font-size: 36px;
text-align: Left;
color: #FFFFFF;

width: 555px;
align-self: center;
}
.article_text{
display: flex;
max-width: 555px;
max-height: 235px;
font-family :Verdana, Geneva, Tahoma, sans-serif;
font-style:normal; 
font-size: 20px;
text-align: Left;
color: #FFFFFF;
align-self: center;
}
.section_about{
    display: flex;
    min-height: 361px;
    


}
.about_h3{
    display: flex;
    height: 210px; 
    max-width:200px;
    color: #22356F;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: Left;
    align-self: flex-end;
    margin-left: 106px;
    margin-right: 106px;
}
.about_text{
    display: flex;
    max-width: 592px;
    height: 210px;  
    color: #22356F;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: Left;
justify-self: center;
    align-self: flex-end;
    margin-left: 106px;
}
.section_help{
    display: flex;
justify-content: center;
align-items: center;
height: 121px;
}
.section_help_head{
    display: flex;
    height: 21px; 
    color:  #22356F80;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.main_menu_4{
    display: flex;
    flex-direction: row;
}
.main_menu_4 hr{
    width: 255px;
    border-top: 2px solid #ffffff;
    background-color: #62D0DF;

}
.main_menu_4 .col{
    height: 360px;
}
.list_main {
    list-style: none; /* Убираем исходные маркеры */
    background: url(img/Ellipse.png); /* Параметры фона */


}